<!DOCTYPE html>
<html>
    <head>
        <title>
            irc mesi qpic
        </title>
        <script>

    function send_dice(){
        let xhr = new XMLHttpRequest();
        let url = "dice";        
        xhr.open("GET", url, true);
        xhr.send();        
    }

    let update = 0;            
    let urlreg = new RegExp("((https?|ftp)(:\/\/[-_.!~*\'()a-zA-Z0-9;\/?:\@&=+\$,%#]+))", "g");
    function reptxt(text){
        return text
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(urlreg, "<a href='$1' target='_blank'>$1</a>");
    }

    function get_log(){
        let xhr = new XMLHttpRequest();
        let url = "/msg?id="+update      
        xhr.open("GET", url, true); 
        xhr.responseType = 'json';
        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4){
                if(xhr.status == 200){
                    let log = xhr.response;
                    document.getElementById("topic").innerHTML = reptxt(log.topic);
                    document.getElementById("member").innerHTML = reptxt(log.member);
                    let msg = "";
                    for(let line of log.log){
                        msg +="<div>" + reptxt(line) + "</div>";
                    }

                    document.getElementById("log_area").innerHTML = msg;
                    update = log.id;
                }
                setTimeout(get_log, 1000);
            }
        }
        xhr.send();
    }

    function searchlog(){
        let xhr = new XMLHttpRequest();
        let url = "/grep?q=" + encodeURIComponent(document.getElementById("search").value);
        xhr.open("GET", url, true); 
        xhr.responseType = 'json';
        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4 && xhr.status == 200){
                let msg = "";
                for(let gp of xhr.response){
                    if(gp.type == "match"){
                        let d = gp.data;
                        msg += "<div>" + d.path.text + ": " + d.line_number + ": " + reptxt(d.lines.text) + "</div>"
                    }
                document.getElementById("search_area").innerHTML = msg;
                }
            }
        }
        xhr.send();
    }

    document.addEventListener("DOMContentLoaded", function(event){
        get_log();
    });

        </script>
    </head>
    <body>
        <h1>qpic irc</h1>
        <h2>mesi</h2>
        <table border="1">
            <tr><th>id</th><th>title</th><th>number</th><th>member</th>
            <th>create date</th><th>enable</th></tr>
            {{#each mesi_list}}
            <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{number}}</td>
            <td>{{member}}</td>
            <td>{{create}}</td>
            <td>{{enable}}</td>
            </tr>
            {{/each}}
        </table>
        <div>
        <!--幹事:<input type="text" id="organizer" value="{{orgnaizer}}">-->
        <input type="button" value="dice 2D6" onclick="send_dice()" />
        </div>
        <div>
        <a href="http://masutaxa.xrea.jp/ekidata/">いけますよサーチ</a>
        </div>
        <h2>log</h2>
        <div><label for="topic">Topic:</label><span id="topic" style="font-weight:bold"></span></div>
        <div><label for="member">Member</label><span id="member"></span></div>
        <br>
        <div id="log_area"></div>
        <h3>grep</h3>
        <div><input type="text" id="search"/><input type="button" value="grep" onclick="searchlog()"/></div>
        <div id="search_area"></div>
        <p>
        {{#each log_list}}
        <div><a href="{{dir}}">{{name}}</a></div>
        {{/each}}
        </p>
    </body>
</html>
