<!DOCTYPE html>
<html>
    <head>
        <title>
            irc mesi qpic
        </title>
        <style>
#calendar {
    display: flex;
    flex-wrap: wrap;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td.holiday {
    color: red;
}

td.today {
    color: royalblue;
    font-weight: bold;
}

.holidayname {
    font-size: small;
}
        </style>
        <script src="resources/main.js"></script>
    </head>
    <body>
        <h1>qpic irc</h1>
        <div>
        <h2>log</h2>
            <div><label for="topic">Topic:</label><span id="topic" style="font-weight:bold"></span></div>
            <div><label for="member">Member</label><span id="member"></span></div>
            <br>
            <div id="log_area" style="width: 100%; height: 50ex; overflow: scroll;">
            </div>
            <div>
                <input type="text" size="100" id="sendMessage" onkeypress="send_key()">
            </div>
            <div><input type="button" value="Reconnect" onclick='send_message("/QUIT :leaving")'/></div>
        </div>

        <div>
            <h3>calendar</h3>
            <button id="calendar_prev" type="button">2週前</button>
            <button id="calendar_today" type="button">本日</button>
            <button id="calendar_next" type="button">2週後</button>
            <input id="calendar_dateinput" type="date" /> 
            <div id="calendar"></div>

            <h3>grep</h3>
            <div><input type="text" id="search"/><input type="button" value="grep" onclick="searchlog()"/></div>
            <div id="search_area"></div>
            <div><a href="https://irc.qpic.org/log/?C=M;O=D">irc.qpic.org</a></div>
        </div>

        <div style="display:block;">
        <h2>mesi</h2>
            <table border="1">
                <tr><th>id</th><th>title</th><th>number</th><th>member</th>
                <th>create date</th><th>enable</th></tr>
                {{#each mesi_list}}
                <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{number}}</td>
                <td>{{member}}</td>
                <td>{{create}}</td>
                <td>{{enable}}</td>
                </tr>
                {{/each}}
            </table>
            <div>
            <!--幹事:<input type="text" id="organizer" value="{{orgnaizer}}">-->
            <input type="button" value="dice 2D6" onclick="send_dice()" />
            </div>
            <div>
            <a href="http://masutaxa.xrea.jp/ekidata/">いけますよサーチ</a>
            </div>
        </div>
    </body>
</html>
